.main-page {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.form-section {
  width: 200px;
  margin: 0 auto 10px auto;
}

.rates-section {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .form-section {
    width: calc(33.3333%);
    margin: 0 20px 0 0;
  }

  .rates-section {
    width: calc(66.6666% - 40px);
    margin: 0 0 0 20px;
  }
}
